.container {
    text-align: center;
    margin: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: gray;
  }
  
  .checkbox-container, .task-container, .delete-container {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
  }
  
  .task-container {
    flex-grow: 1;
  }
  
  .edit-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  

  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
  }
  